<div class="form-container">
   <h1> New User form </h1>
     <form #addUserForm="ngForm">
        <div class="form-group">
            <label>UserId</label>
            <input type="text" class="form-control">
        </div>
        <br><br>
        <div class="form-group">
            <label>UserName</label>
            <input type="text" class="form-control">
        </div>
        <br><br>
        <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control">
        </div>
        <br><br>
        <div class="form-group">
            <label>PhoneNumber</label>
            <input type="text" class="form-control">
        </div>
        <br><br>
        <div class="form-group">
            <label>LoginName</label>
            <input type="text" class="form-control">
        </div>
         <br><br>
         <button type="submit" class=" btn btn-success">Save</button>
     </form>
</div>